body {
    background:#222222;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
}

#info {
    /* position: absolute; */
    top: 0px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    z-index:1000;
}

#webglcanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#progressBackground {
    width: 200px;
    height: 20px;
    background: #000;
    border: 2px solid #000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
#progressBar {
    width: 200px;
    height: 20px;
    background: #353dff;
    border: none;
}

a {
    color: #00ffff;
}
